<div id="signin-container" class="container row">
    <div class="column">
        <h1>Curve Fever</h1>

        <button phx-click="new_game" class="center-position">Enter a new Game</button>

    </div>
    <div class="column">
    </div>
</div>

<div id = "game-list">
<h2>Alive Games</h2>
<%= for game <- @games do %>
<p><%= game %><p>
<button phx-click="join-game" phx-value-column="<%= game %>">Join</button>
<% end %>
</div>
</div>
