<div id="signin-container" class="container row">
    <div class="column">
        <h1>Curve Fever</h1>

        <%= f = form_for :signin_form, "#" , id: "signin-form", phx_submit: "enter-lobby" %>
            <%= text_input f, :player_name, value: @player_name, placeholder: "Player Name" %>
            <%= submit "Enter" %>
        </form>
    </div>
    <div class="column">
    </div>
</div>
